.App {
  display: flex;
  height: 100vh;
  text-align: center;
  overflow: hidden;

  .App-logo {
    width: 20vw;
    // animation: vibrance 10s infinite ease-in-out;
  }

  .App-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    min-width: 33vw;
    color: white;
    z-index: 10;
  }

  .App-title {
    font-weight: bold;
    font-variation-settings: 'wght' 600;
    font-size: 10vh;
    line-height: 10.5vh;
    letter-spacing: -.1rem;
    margin: 1vh;
    white-space: nowrap;
  }

  .App-social {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

@keyframes vibrance {
  0%,
  30%,
  60%,
  100% {
    filter: brightness(1.2) drop-shadow(1px 1px 20px #58a5ff55);
  }

  15%,
  50% {
    filter: brightness(1) drop-shadow(0 0 10px #dd65e2aa);
  }
}



// Rename classes from emotion pages as it duplicates classes
// and it overides media queries
@media (max-aspect-ratio: 4/3) {
  .App {
    flex-direction: column;

    .App-logo {
      width: 65vw !important;
      max-height: 40vh !important;
    }
    .App-title {
      font-size: 6vh !important;
      line-height: 6.5vh !important;
    }
  }
}

@media (max-aspect-ratio: 4/3) {
  .App .pulse-container {
    overflow: hidden;
    bottom: -18vh;
    position: fixed;
    &:first-of-type {
      .item:nth-child(2n) {
        opacity: 0;
      }

      bottom: unset;
      top: -33vh;
    }

    &:not(:first-of-type) {
      .item:nth-child(2n+1) {
        opacity: 0;
      }
    }
  }
}
